{% extends 'base.html' %}
{% load static %}
{% block body %}l>



    <div class="container-wrap">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
             <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="{% static 'images/29749993_2113535582261682_1483934777752365362_o.jpg' %}">
                      <div class="carousel-caption d-none d-md-block">
                             <h5>...</h5>
                             <p>...</p>
                      </div>
                  </div>


             </div>

        </div>
		<div id="fh5co-contact">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Contact Me</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-push-1 animate-box">
					<h3>My Address</h3>
					<ul class="contact-info">
						<li><i class="icon-location4"></i>Bhandaria,Pirojpur,Barisal</li>
						<li><i class="icon-phone3"></i>+ 01795717825</li>
						<li><i class="icon-location3"></i><a href="#">ejaj1707@gmail.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
					</ul>
				</div>
				<div class="col-md-7 col-md-push-1 animate-box">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary btn-modify">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->


{% endblock %}